// COLOR VARIABLES
$primary-color: #2d3748;
$secondary-color: #edf2f7;
$third-color: #0b2136;
$fourth-color: #474747;
$fifth-color: #d4daf1be;
$sixth-color: #ecf8ff;
$light-white: #eeeeee;
$white: #ffffff;
$lighter-black: #333333;
$black: #000000;
$blur-black: rgba(0, 0, 0, 0.1);
$dark-blur-black: rgba(0, 0, 0, 0.2);
$blur-light: rgba(255, 255, 255, 0.1);
$dark-blur-light: rgba(255, 255, 255, 0.2);
$slight-blue: #ecf8ff;
$lighter-blue: #31a0ff;
$light-blue: #108ee9;
$blue: #1890ff;
$pink: #eb2f96;
$light-green: #52c41a;
$green: #2f903f;
$bright-green: #00ff33;
$dark-green: #228b22;
$yellow: #faad14;
$orange: #d45b13;
$light-grey: #fafafa;
$grey: #8b8b8b;
$slight-grey: #6b7280;
$bg-grey: #f5f5f5;
$slight-red: #dfdede;
$light-red: #e74a3b;
$bright-red: #f2212c;
$red: #ff0000;
$dark-red: #ff4d4f;
$light-orange: #ff7568;
$light-dark: #2363a3;
$light-purple: #5c6685;
$disable-color: #f0f0f0;
$link-color: #79808a;
$dashboard-main: #fafdfe;
