//FONT-SIZE VARIABLES
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-normal: 16px;
$font-size-large: 32px;
$font-size-xs-small: 0.25rem;
$font-size-md-small: 0.5rem;
$font-size-lg-small: 0.75rem;
$font-size-xs-medium: 0.875rem;
$font-size-md-medium: 0.9rem;
$font-size-lg-medium: 1rem;
$font-size-xs-large: 1.25rem;
$font-size-md-large: 1.325rem;
$font-size-lg-large: 1.5rem;
$font-size-xs-larger: 1.75rem;
$font-size-md-larger: 1.85rem;
$font-size-lg-larger: 1.9rem;
$font-size-larger: 2rem;

// SPECIFICS FONT-SIZES
