//SIZES VARIABLES
$zero: 0rem;
$xxs-small: 0.1rem;
$xs-small: 0.15rem;
$xs-smaller: 0.2rem;
$sm-smaller: 0.25rem;
$md-small: 0.3rem;
$small: 0.5rem;
$lg-small: 0.625rem;
$xs-medium: 0.75rem;
$sm-medium: 0.8rem;
$md-medium: 0.9rem;
$medium: 1rem;
$s-lg-medium: 1.25rem;
$lg-medium: 1.75rem;
$xs-large: 2rem;
$sm-large: 2.25rem;
$md-large: 2.5rem;
$large: 2.75rem;
$lg-large: 3rem;
$xs-larger: 3.5rem;
$sm-larger: 3.75rem;
$md-larger: 4rem;
$smd-larger: 4.375rem;
$larger: 4.5rem;
$lg-larger: 5rem;
$xl-large: 6rem;
$ex-sm-larger: 6.25rem;
$ex-md-larger: 7.5rem;
$x-ex-md-larger: 9rem;
$xxl-large: 10rem;
$xx-smd-large: 10.625rem;
$ex-lg-larger: 12.5rem;
$xxl-smd-large: 13.125rem;
$xxl-sm-large: 15.625rem;
$ex-smd-large: 16.25rem;
$xxl-lgd-large: 16.875rem;
$xxxl-large: 17rem;
$x-sm-lager: 17rem;
$x-large: 18.75rem;
$x-md-large: 21.875rem;
$xx-large: 25rem;
$xxl-sm-lager: 31.25rem;
$xx-sm-large: 37.5rem;
$xx-md-large: 43.75rem;
$xxx-large: 50rem;
