// Z-INDEX VARIABLES
$z-index-lowest: 1;
$z-index-low: 10;
$z-index-medium: 50;
$z-index-high: 100;
$z-index-highest: 1000;

// SPECIFICS Z-INDEX VALUES
$z-index-modal: 500;
$z-index-dropdown: 300;
$z-index-tooltip: 200;
